* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #062c43;
  --secondary-color: #054569;
  --primary-text-color: white;
  --secondary-text-color: #ced7e0;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center center;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
}

/* ---> Logo style */

header {
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* ---> Navbar style */

.tabs .tab a {
  color: white;
}
.tabs .indicator {
  background-color: var(--primary-text-color) !important;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: var(--secondary-text-color) !important;
  color: var(--primary-color) !important;
}
a {
  background-color: var(--primary-color);
  color: white;
}

/* ---> Search Launches style */

/* Search launches side bar style */
.findBtn {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
}
.sidenav {
  padding: 25px !important;
}
input {
  font-family: "Raleway", sans-serif;
  width: 60%;
}
.date-inputs div {
  color: var(--primary-color);
  text-align: center;
}
.btn {
  background-color: var(--primary-color);
}
.sidenav li > a.btn:hover {
  background-color: var(--secondary-color);
}

/* search lauches content style */
.customCard {
  text-align: left;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 12px;
}
.customCard p {
  line-height: 30px;
  font-size: 16px;
  color: var(--secondary-text-color);
}
.customCard p span {
  color: var(--primary-text-color);
}

.agencyImg {
  border-radius: 20px;
  width: 100%;
  height: 160px;
}
.saveBtn {
  background-color: red;
  border-radius: 50%;
  padding: 12px 3px 2px 3px;
}

/* ---> Upcoming Launches style */

#nextFiveLaunchesList li,
#lastFiveLaunchesList li {
  margin-bottom: 10px;
  color: green;
}

#nextFiveLaunchesList,
#lastFiveLaunchesList {
  margin-bottom: 10px;
}

/* .shipImages {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
} */

.agencyImage img {
  max-height: 170px;
  min-height: 170px;
  /* max-width: 170px;
min-width: 170px; */
}

.agencyImage {
  background-color: black !important;
  opacity: 0.8;
}

.card .card-image .card-title {
  font-size: 2vw;
}

.card-content {
  color: white;
}

.timer-div {
  color: white;
}

/* Media queries */
@media (max-width: 600px) {
  .findBtn span {
    display: none;
  }
  .agencyImg {
    display: none;
  }
}
