* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #062c43;
  --secondary-color: #054569;
  --primary-text-color: white;
  --secondary-text-color: #ced7e0;
  --third-color: #5591a9;
}

html {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100vh;
  width: 100%;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
}

/* ---> Logo style */

header {
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* ---> Navbar style */

.tabs .tab a {
  color: white;
}
.tabs .indicator {
  background-color: var(--primary-text-color) !important;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: var(--secondary-text-color) !important;
  color: var(--primary-color) !important;
}
a {
  background-color: var(--primary-color);
  color: white;
}

/* ---> Search Launches style */

/* Search launches side bar style */
.sidenav {
  padding: 25px !important;
}
input {
  font-family: "Raleway", sans-serif;
  width: 60%;
}
.date-inputs div {
  color: var(--primary-color);
  text-align: center;
}
.btn {
  background-color: var(--primary-color);
}
.sidenav li > a.btn:hover {
  background-color: var(--secondary-color);
}

/* workaround for buggy select boxes in materialize */
.select-wrapper input.select-dropdown {
  display: none;
}
.caret {
  display: none;
}
#cities,
#company {
  display: block;
}

/* search lauches content style */
.customIconBigScreen {
  text-align: right;
}
.customCard {
  text-align: left;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
}
.customCard p {
  line-height: 30px;
  font-size: 15px;
  color: var(--secondary-text-color);
}
.card-image {
  cursor: pointer;
}
.agencyImg {
  border-radius: 20px;
  width: 100%;
  height: 160px;
}
.saveBtn {
  background-color: red;
  border-radius: 50%;
  padding: 15px 5px 3px 5px;
}
.saveBtn:hover {
  opacity: 70%;
}
.findBtn {
  background-color: var(--primary-text-color);
  padding: 10px;
  border-radius: 50%;
  padding-top: 18px;
  color: var(--primary-color);
  transition-delay: 2ms;
}
.findBtn:hover {
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
}
.moreBtn {
  padding: 4px 8px 4px 8px;
  font-family: "Raleway", sans-serif;
  color: var(--primary-color);
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}
.moreBtn:hover {
  background-color: var(--third-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

/* ---> Upcoming Launches style */

#nextFiveLaunchesList li,
#lastFiveLaunchesList li {
  margin-bottom: 10px;
  color: green;
}
#nextFiveLaunchesList,
#lastFiveLaunchesList {
  margin-bottom: 10px;
}
.agencyImage img {
  max-height: 170px;
  min-height: 170px;
}
.agencyImage {
  background-color: black !important;
}

.card-content {
  color: white;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card{
  border-radius: 11px;

}
.card .card-reveal {
  background-color: black;
}
.timer-div {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 22px;
  border-top: 2px solid white;
  border-style: ridge;
  border-bottom: none;
  
}

/* Dawson CSS */
.modal {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
.modal .modal-footer {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}
.modal .modal-footer a {
  color: var(--secondary-text-color);
}

/* ---> Media queries */

@media (max-width: 600px) {
  .agencyImg {
    display: none;
  }
  .customCard p {
    font-size: 14px;
    line-height: 25px;
  }
  .customIconSearch {
    text-align: right;
    margin-bottom: 15px;
  }
  .row {
    margin-bottom: 2px;
  }
  .row .col {
    margin-bottom: 15px;
  }
  .navText {
    display: none;
  }
  .modal {
    text-size-adjust: 60%;
  }
}
